<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Órdenes totales</th>
        <th>No pagadas</th>
        <th>Ingreso generado</th>
        <th>Deuda total</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
            <td><%= link_to customer.name, customer %></td>
            <td><%= customer.orders.count %></td>
            <td><%= customer.orders.unpaid.count %></td>
            <td>$<%= customer.total_income %></td>
            <td>$<%= customer.total_debt %></td>
            <td>
                <div class="btn-group btn-group-xs" role="group">
                  <%= link_to customer, class: 'btn btn-default' do %>
                      <%= icon 'user' %> Ver perfil
                  <% end %>
                </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>