<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <strong><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</strong>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :producto, class: 'control-label' %>
        <%= f.select :product_id, Product.all.map{ |p| [p.name, p.id ] }, { include_blank: false }, { class: 'form-control' } %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :cantidad, class: 'control-label' %>
        <%= f.number_field :quantity, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :cliente, class: 'control-label' %>
        <%= f.select :customer_id, Customer.all.map{ |c| [c.name, c.id ] }, { include_blank: false }, { class: 'form-control' } %>
      </div>
      <div class="checkbox">
        <label> <%= f.check_box :paid %> Pagado </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= f.submit 'Guardar orden', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', orders_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
