<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_cost %><br>
    <%= f.text_field :total_cost %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :customer %><br>
    <%= f.select :customer_id, Customer.all.map{ |c| [c.name, c.id ] } %>
  </div>
  <div class="field">
    <%= f.label :product %><br>
    <%= f.select :product_id, Product.all.map{ |p| [p.name, p.id ] } %>
  </div>
  <div class="field">
    <%= f.label :paid? %><br>
    <%= f.check_box :paid %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
