<div class="table-responsive">
  <table class="table table-stripped">
    <thead>
      <tr>
        <th>Valor Total</th>
        <th>Cantidad</th>
        <th>Cliente</th>
        <th>Producto</th>
        <th colspan="1"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @orders.each do |order| %>
        <tr>
            <td>$ <%= order.total_cost %></td>
            <td><%= order.quantity %></td>
            <td><%= link_to order.customer.name, order.customer %></td>
            <td><%= link_to order.product.name, order.product %></td>
            <td>
                <div class="btn-group btn-group-xs" role="group">
                  <% unless order.paid? %>
                    <%= link_to pay_order_path(order), class: 'btn btn-primary btn-xs' do %>
                        <%= icon 'check-square-o' %> Pagar
                    <% end %>
                  <% end %>
                  <%= link_to order_path(order), class: 'btn btn-default', method: :delete, data: { confirm: '¿Estas seguro?' } do %>
                      <%= icon 'trash-o' %> Eliminar
                  <% end %>
                </div>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>