<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nombre %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :descripcion %>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :precio %>
    <%= f.text_field :price, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :imagen %>
    <%= f.text_field :image, class: 'form-control'  %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit 'Guardar producto', class: 'btn btn-primary' %>
      <%= link_to 'Cancelar', products_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
